<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">演示</a>
            <a>
              <cite>导航元素</cite></a>
          </span>
          <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
        </div>














        <div class="layui-card-body ">
                            <form class="layui-form layui-col-space5">
								<div class="layui-inline layui-show-xs-block">
									<input type="text" name="title"  placeholder="合同名" autocomplete="off" class="layui-input">
								</div>
								
				   
								<div class="layui-inline layui-show-xs-block">
									<input type="text" name="house_id"  placeholder="房子id" autocomplete="off" class="layui-input">
								</div>
								
								
								<div class="layui-inline layui-show-xs-block">
									<input class="layui-input"  autocomplete="off" placeholder="创建时间" name="add_time" id="add_time">
								</div>
								<div class="layui-inline layui-show-xs-block">
									<button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
								</div>
                            </form>
                        </div>