<!doctype html>
<html>
<head>
	<title>我的租约</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
	<script type="text/javascript" src="__INDEX__/js/jquery.min.js"></script>
	<!-- <link rel="stylesheet" type="text/css" href="__HOMEPAGE__/css/Mycontract.css"> -->
	<link rel="stylesheet" type="text/css" href="__INDEX__/layui/css/layui.css">
	<script type="text/javascript" src="__INDEX__/layui/layui.js" charset="utf-8"></script>
<style type="text/css">
	tr td{
		cursor: pointer!important;
	}
</style>

</head>
<body>

	<div class="bd">
	<table id="demo1" class="layui-hide"  lay-filter="demoEvent"></table>
	</div>

	<script type="text/javascript">
		layui.use('table', function(){
  		var table = layui.table;
		table.render({
            elem: '#demo1'
            //,height: 315
            ,url: "/HouseR/Homepage/Index/task_list1" //数据接口
            ,page: true //开启分页
            ,cols: [[ //表头
                {field: 'id',event: 'setSign', title: 'ID', width:80, sort: true, fixed: 'left'}
                ,{field: 'title',event: 'setSign', title: '标题'}
                ,{field: 'add_time',event: 'setSign', title: '创建时间', width:170}
                ,{field: 'time',event: 'setSign', title: '签约时间', width:170}
                ,{field: 'start_time',event: 'setSign', title: '起租时间', }
                ,{field: 'end_time',event: 'setSign', title: '到租时间',  }
                ,{field: 'price_month',event: 'setSign', title: '月租(元)'}
                ,{field: 'price_total',event: 'setSign', title: '租金总额(元)',}
                ,{field: 'u_a_name',event: 'setSign', title: '房东id'}
                ,{field: 'u_b_name',event: 'setSign', title: '租客id'}
            ]]
            ,page: true
            ,limit:3
            ,parseData: function(res){
            	console.log(res);
             //将原始数据解析成 table 组件所规定的数据
		      return {
		        "code": 0, //解析接口状态
		        "msg": "", //解析提示文本
		        "count": res.count, //解析数据长度
		        "data": res.item //解析数据列表
		      };
		    }
        });


        //监听单元格事件
		  table.on('tool(demoEvent)', function(obj){
		    var data = obj.data;
		    // console.log(data);
		    if(obj.event === 'setSign'){
		        console.log(obj.data['house_id']);
		        console.log(obj.data['id']);
		        window.location.href="/HouseR/Homepage/Index/MycontractDetail?house_id="+obj.data['house_id']+"&&id="+obj.data['id'];
		        
		      // layer.prompt({
		      //   formType: 2
		      //   ,title: '修改 ID 为 ['+ data.id +'] 的用户签名'
		      //   ,value: data.sign
		      // }, function(value, index){
		      //   layer.close(index);
		      //   alert(index);
		      //   //这里一般是发送修改的Ajax请求
		        
		      //   //同步更新表格和缓存对应的值
		      //   obj.update({
		      //     sign: value
		      //   });
		      // });
		    }
		  });
});
	</script>
	<script type="text/javascript">
		
	</script>
</body>
</html>